Repository Armor-test/queue-proxy-261, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-reporting, @Armor-test/team-research, @Armor-test/team-notifications, @Armor-test/unit-test, @Armor-test/team-core, @Armor-test/squad-payments, @Armor-test/squad-research, @Armor-test/squad-qa, @Armor-test/squad-product, @Armor-test/team-logging, @Armor-test/squad-database, @Armor-test/team-reporting, @Armor-test/squad-tooling, @Armor-test/dept-ui, @Armor-test/squad-search, @Armor-test/squad-apps, @Armor-test/squad-ux, @Armor-test/team-security, @Armor-test/squad-ml, @Armor-test/grp-reporting, @Armor-test/dept-logging, @Armor-test/grp-ui, @Armor-test/unit-cloud, @Armor-test/dept-test, @Armor-test/team-governance, @Armor-test/grp-integration, @Armor-test/unit-governance, @Armor-test/team-frontend, @Armor-test/squad-mobile, @Armor-test/dept-security, @Armor-test/squad-cloud, @Armor-test/grp-api, @Armor-test/unit-devops, @Armor-test/squad-frontend, @Armor-test/dept-identity, @Armor-test/dept-notifications, @Armor-test/squad-api, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/dependency-team, @Armor-test/security

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-reporting, @Armor-test/team-research, @Armor-test/team-notifications

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-reporting, @Armor-test/team-research, @Armor-test/team-notifications

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-payments, @Armor-test/grp-reporting

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-api, @Armor-test/squad-api, @Armor-test/dept-logging

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-reporting, @Armor-test/team-research, @Armor-test/team-notifications

.github/CODEOWNERS:

# CODEOWNERS file for queue-proxy-261
# Global owners - will be requested for all PRs
* @Armor-test/dept-reporting @Armor-test/team-research @Armor-test/team-notifications

# Directory ownership
/helpers/ @Armor-test/team-notifications @Armor-test/unit-test
/data/ @Armor-test/team-core @Armor-test/squad-payments
/core/ @Armor-test/squad-research @Armor-test/squad-qa
/controllers/ @Armor-test/squad-product @Armor-test/team-logging
/third_party/ @Armor-test/team-research @Armor-test/squad-database
/assets/ @Armor-test/team-reporting @Armor-test/team-logging
/auth/ @Armor-test/squad-tooling @Armor-test/dept-ui
/vendor/ @Armor-test/team-logging @Armor-test/squad-search @Armor-test/squad-apps
/pkg/ @Armor-test/squad-ux @Armor-test/dept-reporting
/hooks/ @Armor-test/team-security @Armor-test/squad-apps @Armor-test/squad-ml
/test/ @Armor-test/squad-payments @Armor-test/grp-reporting
/ui/ @Armor-test/dept-reporting @Armor-test/squad-tooling
/modules/ @Armor-test/dept-logging @Armor-test/squad-database @Armor-test/grp-ui
/shared/ @Armor-test/unit-cloud @Armor-test/dept-test @Armor-test/team-logging
/public/ @Armor-test/squad-apps @Armor-test/team-research

# File type ownership
*.scss @Armor-test/team-governance @Armor-test/grp-reporting
*.proto @Armor-test/grp-integration @Armor-test/dept-logging
*.cpp @Armor-test/squad-qa @Armor-test/unit-governance
*.c @Armor-test/team-frontend @Armor-test/grp-reporting
*.scala @Armor-test/squad-research @Armor-test/squad-mobile @Armor-test/unit-test
*.css @Armor-test/team-logging @Armor-test/dept-security @Armor-test/dept-test
*.tsx @Armor-test/team-logging @Armor-test/squad-cloud @Armor-test/grp-api
*.config @Armor-test/grp-integration @Armor-test/unit-devops @Armor-test/squad-frontend
*.ts @Armor-test/dept-identity @Armor-test/dept-notifications @Armor-test/grp-integration
*.rs @Armor-test/team-governance @Armor-test/squad-mobile @Armor-test/squad-cloud
*.java @Armor-test/unit-test @Armor-test/dept-security
*.py @Armor-test/grp-api @Armor-test/squad-api @Armor-test/dept-logging

# Security and special files
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
package.json @Armor-test/dependency-team @Armor-test/security
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
